<form action="/customer/add" method="POST">
    <p>
        <label>Customer Name </label><input value="" type="text" name="customerNasme"><br/>
        <button type="submit">Add Customer</button>
    </p>
</form>