<h1> Customers</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.customerId}}</td>
        <td>{{this.customerName}}</td>
    </tr>
    {{/each}}
</table>